# Dependencias
node_modules/

# Build
dist/
dist-ssr/
*.tsbuildinfo

# Variables de entorno
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Deploy
.vercel/

# Editor / sistema
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.swp
